In [1]:
import pandas as pd 
import os

In [2]:
pwd = os.getcwd()

In [4]:
dataframe = pd.read_excel(pwd + '//data/Data - Survey Monkey edited.xlsx')

In [5]:
# cleaning the unneeded columns
dataframe.drop(columns=['Start Date', 'End Date'], inplace=True)
dataframe

,Respondent ID,Division response,Other devision,Position level,Generation,Gender,Tenure,Employment type,"Question 1, Response","Question 2, Response",...,"Question 29, Response 8","Question 29, Response 9","Question 29, Response 10","Question 29, Response 11","Question 29, Response 12","Question 29, Response 13","Question 29, Response 14","Question 30, Response 1","Question 30, Response 2","Question 30, Response 3"
0,5379192392,Infrastructure,NaN,Staff,Generation X (born between 1965-1980),Male,0-2 years,Full time Employee,NaN,Answer 6,...,NaN,Answer 8,Answer 8,Answer 4,NaN,NaN,Answer 5,NaN,NaN,NaN
1,2658722536,Finance,NaN,Staff,NaN,NaN,10+ years,Full time Employee,Answer 4,Answer 2,...,NaN,Answer 5,NaN,NaN,Answer 2,NaN,Answer 5,NaN,NaN,Answer 1
2,4044163394,Infrastructure,NaN,Department Lead,Generation X (born between 1965-1980),Male,3-5 years,Full time Employee,Answer 5,Answer 7,...,NaN,NaN,Answer 4,Answer 4,Answer 6,NaN,Answer 6,NaN,Answer 1,NaN
3,5535865599,Infrastructure,NaN,Manager,Millennial (born between 1981-2000),Non-Binary,5-10 years,Full time Employee,Answer 1,Answer 1,...,Answer 2,Answer 5,Answer 7,NaN,Answer 6,NaN,Answer 7,Answer 7,Answer 1,Answer 6
4,3356802928,Port Operations,NaN,Manager,Generation X (born between 1965-1980),Female,10+ years,Full time Employee,NaN,Answer 3,...,NaN,Answer 5,Answer 4,Answer 4,Answer 7,Answer 7,NaN,Answer 7,NaN,Answer 8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193,7940065082,Infrastructure,NaN,Department Lead,Baby Boomer (born between 1946-1964),Male,10+ years,Full time Employee,Answer 3,NaN,...,Answer 1,Answer 1,Answer 3,Answer 6,Answer 6,Answer 8,NaN,NaN,NaN,Answer 8
194,5157705612,Finance,NaN,Staff,Millennial (born between 1981-2000),Female,5-10 years,Full time Employee,NaN,NaN,...,Answer 5,NaN,Answer 5,NaN,NaN,Answer 2,NaN,NaN,NaN,Answer 6
195,9920755555,Port Operations,NaN,Staff,Millennial (born between 1981-2000),Female,3-5 years,Full time Employee,NaN,Answer 7,...,NaN,Answer 7,NaN,NaN,NaN,NaN,NaN,NaN,Answer 3,NaN
196,6638341389,Infrastructure,NaN,Manager,Millennial (born between 1981-2000),Female,3-5 years,Full time Employee,NaN,NaN,...,Answer 2,NaN,Answer 3,Answer 5,NaN,Answer 8,Answer 3,Answer 3,NaN,NaN
197,8114622230,Information Technology,NaN,Staff,Prefer not to answer,Male,5-10 years,Full time Employee,NaN,Answer 1,...,Answer 3,NaN,Answer 7,NaN,NaN,NaN,NaN,Answer 3,NaN,NaN

In [6]:
df = dataframe.copy()

#creating id and value variables
id_var = list(df.columns)[:8]
value_var = list(df.columns)[8:]

In [7]:
#restructring  the data from the wide to the llong format using the mely method
df_melted = df.melt(id_vars= id_var, value_vars= value_var, var_name= 'Question & Subquestion', value_name= 'Answer')
df_melted

,Respondent ID,Division response,Other devision,Position level,Generation,Gender,Tenure,Employment type,Question & Subquestion,Answer
0,5379192392,Infrastructure,NaN,Staff,Generation X (born between 1965-1980),Male,0-2 years,Full time Employee,"Question 1, Response",NaN
1,2658722536,Finance,NaN,Staff,NaN,NaN,10+ years,Full time Employee,"Question 1, Response",Answer 4
2,4044163394,Infrastructure,NaN,Department Lead,Generation X (born between 1965-1980),Male,3-5 years,Full time Employee,"Question 1, Response",Answer 5
3,5535865599,Infrastructure,NaN,Manager,Millennial (born between 1981-2000),Non-Binary,5-10 years,Full time Employee,"Question 1, Response",Answer 1
4,3356802928,Port Operations,NaN,Manager,Generation X (born between 1965-1980),Female,10+ years,Full time Employee,"Question 1, Response",NaN
...,...,...,...,...,...,...,...,...,...,...
17023,7940065082,Infrastructure,NaN,Department Lead,Baby Boomer (born between 1946-1964),Male,10+ years,Full time Employee,"Question 30, Response 3",Answer 8
17024,5157705612,Finance,NaN,Staff,Millennial (born between 1981-2000),Female,5-10 years,Full time Employee,"Question 30, Response 3",Answer 6
17025,9920755555,Port Operations,NaN,Staff,Millennial (born between 1981-2000),Female,3-5 years,Full time Employee,"Question 30, Response 3",NaN
17026,6638341389,Infrastructure,NaN,Manager,Millennial (born between 1981-2000),Female,3-5 years,Full time Employee,"Question 30, Response 3",NaN
17027,8114622230,Information Technology,NaN,Staff,Prefer not to answer,Male,5-10 years,Full time Employee,"Question 30, Response 3",NaN

In [8]:
#creating the question column
df_melted['Question'] = df_melted['Question & Subquestion'].str.split(',').str[0]
df_melted

,Respondent ID,Division response,Other devision,Position level,Generation,Gender,Tenure,Employment type,Question & Subquestion,Answer,Question
0,5379192392,Infrastructure,NaN,Staff,Generation X (born between 1965-1980),Male,0-2 years,Full time Employee,"Question 1, Response",NaN,Question 1
1,2658722536,Finance,NaN,Staff,NaN,NaN,10+ years,Full time Employee,"Question 1, Response",Answer 4,Question 1
2,4044163394,Infrastructure,NaN,Department Lead,Generation X (born between 1965-1980),Male,3-5 years,Full time Employee,"Question 1, Response",Answer 5,Question 1
3,5535865599,Infrastructure,NaN,Manager,Millennial (born between 1981-2000),Non-Binary,5-10 years,Full time Employee,"Question 1, Response",Answer 1,Question 1
4,3356802928,Port Operations,NaN,Manager,Generation X (born between 1965-1980),Female,10+ years,Full time Employee,"Question 1, Response",NaN,Question 1
...,...,...,...,...,...,...,...,...,...,...,...
17023,7940065082,Infrastructure,NaN,Department Lead,Baby Boomer (born between 1946-1964),Male,10+ years,Full time Employee,"Question 30, Response 3",Answer 8,Question 30
17024,5157705612,Finance,NaN,Staff,Millennial (born between 1981-2000),Female,5-10 years,Full time Employee,"Question 30, Response 3",Answer 6,Question 30
17025,9920755555,Port Operations,NaN,Staff,Millennial (born between 1981-2000),Female,3-5 years,Full time Employee,"Question 30, Response 3",NaN,Question 30
17026,6638341389,Infrastructure,NaN,Manager,Millennial (born between 1981-2000),Female,3-5 years,Full time Employee,"Question 30, Response 3",NaN,Question 30
17027,8114622230,Information Technology,NaN,Staff,Prefer not to answer,Male,5-10 years,Full time Employee,"Question 30, Response 3",NaN,Question 30

In [10]:
#cleaning the na answer to group by question
df_res = df_melted[df_melted['Answer'].notna()]
df_res = df_res.groupby('Question')['Respondent ID'].nunique().reset_index()
df_res.rename(columns={'Respondent ID': 'Respondents'}, inplace=True)
df_res

       Question  Respondents
0    Question 1          119
1   Question 10          198
2   Question 11          164
3   Question 12          114
4   Question 13          108
5   Question 14          105
6   Question 15          114
7   Question 16          117
8   Question 17          135
9   Question 18          109
10  Question 19          157
11   Question 2          118
12  Question 20          105
13  Question 21          127
14  Question 22          160
15  Question 23          120
16  Question 24          195
17  Question 25          198
18  Question 26          193
19  Question 27          153
20  Question 28          119
21  Question 29          198
22   Question 3          117
23  Question 30          182
24   Question 4          161
25   Question 5          194
26   Question 6          196
27   Question 7          162
28   Question 8          190
29   Question 9          188

In [11]:
#adding the respandents count to the dataframe
df_respand = pd.merge(left=df_melted, right=df_res, how='left', right_on='Question', left_on='Question')
df_respand

,Respondent ID,Division response,Other devision,Position level,Generation,Gender,Tenure,Employment type,Question & Subquestion,Answer,Question,Respondents
0,5379192392,Infrastructure,NaN,Staff,Generation X (born between 1965-1980),Male,0-2 years,Full time Employee,"Question 1, Response",NaN,Question 1,119
1,2658722536,Finance,NaN,Staff,NaN,NaN,10+ years,Full time Employee,"Question 1, Response",Answer 4,Question 1,119
2,4044163394,Infrastructure,NaN,Department Lead,Generation X (born between 1965-1980),Male,3-5 years,Full time Employee,"Question 1, Response",Answer 5,Question 1,119
3,5535865599,Infrastructure,NaN,Manager,Millennial (born between 1981-2000),Non-Binary,5-10 years,Full time Employee,"Question 1, Response",Answer 1,Question 1,119
4,3356802928,Port Operations,NaN,Manager,Generation X (born between 1965-1980),Female,10+ years,Full time Employee,"Question 1, Response",NaN,Question 1,119
...,...,...,...,...,...,...,...,...,...,...,...,...
17023,7940065082,Infrastructure,NaN,Department Lead,Baby Boomer (born between 1946-1964),Male,10+ years,Full time Employee,"Question 30, Response 3",Answer 8,Question 30,182
17024,5157705612,Finance,NaN,Staff,Millennial (born between 1981-2000),Female,5-10 years,Full time Employee,"Question 30, Response 3",Answer 6,Question 30,182
17025,9920755555,Port Operations,NaN,Staff,Millennial (born between 1981-2000),Female,3-5 years,Full time Employee,"Question 30, Response 3",NaN,Question 30,182
17026,6638341389,Infrastructure,NaN,Manager,Millennial (born between 1981-2000),Female,3-5 years,Full time Employee,"Question 30, Response 3",NaN,Question 30,182
17027,8114622230,Information Technology,NaN,Staff,Prefer not to answer,Male,5-10 years,Full time Employee,"Question 30, Response 3",NaN,Question 30,182

In [12]:
#cleaning the answers column to group by the same answer
df_ans = df_melted[df_melted['Answer'].notna()]
df_ans = df_ans.groupby(['Question & Subquestion', 'Answer'])['Respondent ID'].nunique().reset_index()
df_ans.rename(columns={'Respondent ID': 'Same Answer'}, inplace=True)
df_ans

     Question & Subquestion    Answer  Same Answer
0      Question 1, Response  Answer 1           14
1      Question 1, Response  Answer 2           10
2      Question 1, Response  Answer 3           13
3      Question 1, Response  Answer 4           17
4      Question 1, Response  Answer 5           22
..                      ...       ...          ...
683  Question 9, Response 4  Answer 4           16
684  Question 9, Response 4  Answer 5           13
685  Question 9, Response 4  Answer 6           14
686  Question 9, Response 4  Answer 7           12
687  Question 9, Response 4  Answer 8           19

[688 rows x 3 columns]

In [14]:
#adding the same answer column to the dataframe
df_respand_ans = pd.merge(left=df_respand, right=df_ans, how='left', right_on=['Question & Subquestion', 'Answer'], left_on=['Question & Subquestion', 'Answer'])
df_respand_ans

,Respondent ID,Division response,Other devision,Position level,Generation,Gender,Tenure,Employment type,Question & Subquestion,Answer,Question,Respondents,Same Answer
0,5379192392,Infrastructure,NaN,Staff,Generation X (born between 1965-1980),Male,0-2 years,Full time Employee,"Question 1, Response",NaN,Question 1,119,NaN
1,2658722536,Finance,NaN,Staff,NaN,NaN,10+ years,Full time Employee,"Question 1, Response",Answer 4,Question 1,119,17.0
2,4044163394,Infrastructure,NaN,Department Lead,Generation X (born between 1965-1980),Male,3-5 years,Full time Employee,"Question 1, Response",Answer 5,Question 1,119,22.0
3,5535865599,Infrastructure,NaN,Manager,Millennial (born between 1981-2000),Non-Binary,5-10 years,Full time Employee,"Question 1, Response",Answer 1,Question 1,119,14.0
4,3356802928,Port Operations,NaN,Manager,Generation X (born between 1965-1980),Female,10+ years,Full time Employee,"Question 1, Response",NaN,Question 1,119,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17023,7940065082,Infrastructure,NaN,Department Lead,Baby Boomer (born between 1946-1964),Male,10+ years,Full time Employee,"Question 30, Response 3",Answer 8,Question 30,182,14.0
17024,5157705612,Finance,NaN,Staff,Millennial (born between 1981-2000),Female,5-10 years,Full time Employee,"Question 30, Response 3",Answer 6,Question 30,182,20.0
17025,9920755555,Port Operations,NaN,Staff,Millennial (born between 1981-2000),Female,3-5 years,Full time Employee,"Question 30, Response 3",NaN,Question 30,182,NaN
17026,6638341389,Infrastructure,NaN,Manager,Millennial (born between 1981-2000),Female,3-5 years,Full time Employee,"Question 30, Response 3",NaN,Question 30,182,NaN
17027,8114622230,Information Technology,NaN,Staff,Prefer not to answer,Male,5-10 years,Full time Employee,"Question 30, Response 3",NaN,Question 30,182,NaN

In [15]:
#cleaning the na values from same answer column
df_respand_ans['Same Answer'].fillna(0, inplace=True)

In [17]:
df_respand_ans.to_excel(pwd + '//data/Survey final outpost.xlsx', index=False)
print ("done")

done